
#contenedor{        
	text-align: center;
    padding: 20px;
    width: 90%;
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    margin: 6%;
}
article {
    width: 48%;
}

article iframe{
    width: 98%;
    height: 450px;    
}
article form{
    display: flex;
    flex-flow: column;    
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.8);
    border-radius: 10px;   
   
 
    
}
input, textarea{
    border: none;
    resize: none;
    outline: none;
    padding: 25px;
    transition: all 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
button{
    border: none;
    outline: none;    
    padding:15px;
    width: 200px;
    color: rgb(19, 87, 146);
    border-radius: 4px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 300ms;


    
}
@media(max-width:640px){

    #contenedor{
       
        width: 100%;
        height: auto; 
       
    }
    .mapa{

        padding: 0px 0px 0px 0px;
        background:transparent;
        margin-bottom: 30px;
        margin-top: 30px;
        width: 100%;
    }
    #formulariodecontacto{

        padding: 0px 0px 0px 0px;
        background:transparent;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 90%;

        
    }
}
