@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://weloveiconfonts.com/api/?family=fontawesome|typicons');
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


h1 {
    float: left;
}


header .contenedor {
    display: table;

}

section .contenedor11 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
    background-size: 100%;
    animation-name: banner;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: 0.9;


}

 .contenedor1{
    background: rgb(192,255,185);
    background: -moz-linear-gradient(0deg, rgba(192,255,185,1) 0%, rgba(235,255,233,1) 50%, rgba(192,255,185,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(192,255,185,1) 0%, rgba(235,255,233,1) 50%, rgba(192,255,185,1) 100%);
    background: linear-gradient(0deg, rgba(192,255,185,1) 0%, rgba(235,255,233,1) 50%, rgba(192,255,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c0ffb9",endColorstr="#c0ffb9",GradientType=1);
 }


@keyframes banner {
    
    0%, 50% {
        background-image: url('https://img.freepik.com/vector-gratis/fondo-luces-neon-degradado-azul-violeta_23-2148484199.jpg?size=626&ext=jpg');
    }
    
    55%, 100% {
        background-image: url('https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80');
    }

}


.contenedor11 {
	margin-bottom: 0;
	width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    text-align: center;
    color:white;


}


footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;

}

.copy {
    font-size: 20px;

}

/* Efecto Circulo Inicio*/
.overlayone-radius {
    /* Propiedades de imagen */
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    width: 450px;
    height: 5px;
    display: inline-block;
    position: relative;
}
.overlayinn-radius {
    /* Propiedades de la transparencia */
    background-color: rgba(63, 46, 223, 0.719);
    padding: 20px;
    width: 200px; /* ancho del contenedor de texto */
    height: 200px; /* alto del contenedor de texto */
    border-radius: 50%; /* Tamaño del circulo */
    opacity: 0; /* esta condicion mantiene el texto oculto */
    top: 10px; /*distancia hacia abajo*/
    left: 125px; /*distancia hacia la derecha*/
    position: absolute; /* espacio entre texto y bordes */
    transition: opacity 0.5s;
    text-align: center; /* texto centrado */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; /* tamaño de letra */
    color: #ffffff; /* color de texto */
}
.overlayinn-radius:hover {
    /* Efecto al pasar el mouse */
    opacity: 1;
    transition: opacity 0.5s;
}
/* Final Efecto Circulo*/





#blog h3,
h4 {
    text-align: center;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}
#banner {
    margin-top: 25px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner h2 {
    font-size: 28px;
}


#banner a:hover {
    background: rgba(51, 51, 51, 0.5);
}


@media(min-width:480px) {
    .info-info {
        width: 40%;
    }
}

@media(min-width:1024px) {

    .contenedor11 h2 {
        position: absolute;
        padding: 20px
    }
    .contenedor11 p {
       padding:65px;
      
    }

    #info {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 50px;
    }
    
    #info .contenedor11 {
        display: none;
        background: transparent;
    
     
    }
    
    #info .contenedor1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    
    .info-info img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 7px solid #fff;
    }
    
    
    .info-info {
        width: auto
    }

    /* Efecto Circulo Inicio*/
    .overlayone-radius {
    /* Propiedades de imagen */
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    width: 1000px;
    height: 5px;
    display: inline-block;
    position: relative;
}
    .overlayinn-radius {
    /* Propiedades de la transparencia */
    background-color: rgba(63, 46, 223, 0.719);
    padding: 20px;
    width: 200px; /* ancho del contenedor de texto */
    height: 200px; /* alto del contenedor de texto */
    border-radius: 50%; /* Tamaño del circulo */
    opacity: 0; /* esta condicion mantiene el texto oculto */
    top: 10px; /*distancia hacia abajo*/
    left: 400px; /*distancia hacia la derecha*/
    position: absolute; /* espacio entre texto y bordes */
    transition: opacity 0.5s;
    text-align: center; /* texto centrado */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; /* tamaño de letra */
    color: #ffffff; /* color de texto */
}
    .overlayinn-radius:hover {
    /* Efecto al pasar el mouse */
    opacity: 1;
    transition: opacity 0.5s;
}
    /* Final Efecto Circulo*/

}

@media(min-width:1200px) {

    .contenedor11 h2 {
        position: absolute;
        padding: 30px
    }

    .contenedor11 p {
        padding:90px;
       
     }
    .info-info {
        width: auto
    }

    /* Efecto Circulo Inicio*/
.overlayone-radius {
    /* Propiedades de imagen */
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    width: 1450px;
    height: 5px;
    display: inline-block;
    position: relative;
}
.overlayinn-radius {
    /* Propiedades de la transparencia */
    background-color: rgba(63, 46, 223, 0.719);
    padding: 20px;
    width: 200px; /* ancho del contenedor de texto */
    height: 200px; /* alto del contenedor de texto */
    border-radius: 50%; /* Tamaño del circulo */
    opacity: 0; /* esta condicion mantiene el texto oculto */
    top: 10px; /*distancia hacia abajo*/
    left: 625px; /*distancia hacia la derecha*/
    position: absolute; /* espacio entre texto y bordes */
    transition: opacity 0.5s;
    text-align: center; /* texto centrado */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; /* tamaño de letra */
    color: #ffffff; /* color de texto */
}
.overlayinn-radius:hover {
    /* Efecto al pasar el mouse */
    opacity: 1;
    transition: opacity 0.5s;
}
/* Final Efecto Circulo*/  

}
